@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.alumni{
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

.ubuntu{
  font-family: "Ubuntu Sans Mono", monospace;
}

.anton {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
body{
    background:
        radial-gradient(ellipse at center, rgba(0, 0, 255, 0.3) 0%, rgba(0, 0, 0, 0) 70%),
        /* niebieski */
        radial-gradient(ellipse at center, rgba(255, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 70%),
        /*czerwony */
        radial-gradient(ellipse at center, rgba(0, 255, 0, 0.3) 0%, rgba(0, 0, 0, 0) 70%)
        /*zielony */
        #242324;
      background-repeat:
        no-repeat,
        no-repeat,
        no-repeat;
      background-size:
        900px 900px,
        900px 900px,
        900px 900px;
      background-attachment: fixed;
    
      animation: bganimation 30s infinite;
      overflow-y: hidden;
}

img {
  width: 100%;
  height: fit-content;
  display: block;
}

figure{
  margin: 0;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



ul.nav-list {
  list-style-type: none;
  display: flex;
  gap: 25px;
  margin: 0 auto;
  padding: 0;
}
.cover-page {
  width: 100%;
  margin: 0 auto;
  height: 100dvh;
  display: flex;
  place-items: center;
  flex-direction: column;
  justify-content: space-around;
}


nav.navbar {
  width: fit-content;
  display: flex;
  place-items: center;
  
}
.contact a {
  color: #fff;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 10px;
}
ul.transition {
  list-style-type: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  padding: 0;
  z-index: 1;
  display: flex;
  top: 0;
  margin: 0;
}
ul.transition li {
  width: 100%;
  background: #3f3451bf;
  display: block;
  height: 100%;
  backdrop-filter: blur(8px);
  transform: scaleY(0);
}

.bannerSvg {
  width: 970px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  left: -40px;;
}
.navigation {
  padding: 26px 0;
  position: relative;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
a.nav-links {
  color: #d6e7fb;
}

.movIcon {
  position: absolute;
  top: 0;
  margin: 0 auto;
  width: 100%;
}


.bnr-info h2 {
  font-size: 40px;
  margin: 0;
  font-weight: 100;
}
.hdr-logo {
  width: fit-content;
  background: #000;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
}

.typing-effect {
  font-family: monospace;
  white-space: pre;
  text-align: left;
}
.cursor {
  display: inline-block;
  width: 1ch;
  animation: flash 2s;
  animation-iteration-count: infinite;
  border-bottom: solid #fff;
  border-width: 5px;
  padding: 0 1px;
  margin: 0 2px -2px;
}

.typewrite{
  color: #fff
}

.banner-home {
  height: fit-content;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  width: 1430px;
  margin: 0 auto;
  max-width: 100%;
}

.bnr-info p {
  margin: 0;
  font-size: 35px;
  margin-top: -14px;
  font-weight: 100;
}

.icon1 {
  top: 220px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  width: calc(100% - 418px);
  z-index: -1;
}

.icon1 svg {
  width: 85px;
  max-width: 100%;
}

.icon2 {
  position: absolute;
  right: 50px;
  width: 90px;
  top: 105px;
}
.icon3 {
  width: 340px;
  max-width: 100%;
}

.icon4 {
  position: absolute;
  width: 70px;
  top: -10px;
  right: 520px;
}

.icon5 {
  width: 80px;
  position: absolute;
  top: -140px;
  left: 112px;
  right: 0;
  margin: 0 auto;
}

.icon6 {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0;
  right: -530px;
  top: 40px;
  margin: 0 auto;
}
.icon7 {
  position: absolute;
  top: 110px;
  width: 50px;
  height: 50px;
  left: 430px;
  right: 0;
  margin: 0 auto;
}

.icon8 {
  position: absolute;
  width: 120px;
  top: 100px;
  left: -10px;
  right: 0;
  margin: 0 auto;
  z-index: 0;
}
svg#Layer_1 {
  z-index: 2;
  position: relative;
}
.icon9 {
  position: absolute;
  top: -30px;
  left: 365px;
  right: 0px;
  margin: 0 auto;
  width: 80px;
}


.icon10 {
  position: absolute;
  left: 342px;
  right: 0;
  top: 100px;
  margin: 0 auto;
  width: 40px;
}


.icon11 {
  position: absolute;
  right: 0px;
  top: 200px;
  margin: 0 auto;
  width: 60px;
}


.icon12 {
  position: absolute;
  top: -134px;
  left: -38px;
  right: 0;
  margin: 0 auto;
  width: 80px;
  transform: rotate(-10deg);
}

.icon13 {
  position: absolute;
  top: -134px;
  left: 262px;
  right: 0;
  margin: 0 auto;
  width: 80px;
  transform: rotate(10deg);
}

#div2{
  height: 100vh;
  width: 100%;

}
#div3{
  height: 100vh;
  width: 100%;
}


.tablecell {
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  height: 100dvh;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 101;
  max-width: 1320px;
}
.work {
  text-align: left;
  padding: 40px 20px 20px;
  background: #ffffff33;
  border-radius: 20px;
  backdrop-filter: blur(90px);
  border: 3px solid #ffffff0f;
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto 20px;
  place-items: center;
  min-height: 360px;
  backdrop-filter: drop-shadow(2px 4px 6px black);
  box-shadow: 6px 8px 20px -5px #0000008c;
}
.textHeader{
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
.paraText{
  font-size: 1rem;
}
p.date {
  color: #ffffff7a;
}
h3.company {
  margin: 0;
  font-weight: 400;
  color: #ffffff7a;
}
h3.company a{
  color: #ffffff7a;
}
ul.responsibilities{
      width: 800px;
}
ul.responsibilities li {
  font-size: 1rem;
  color: #ffffffc2;
}
.section {
  position: relative;
}
.technologies section:nth-child(1) figure img {
  width: 30px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
      margin: 0 auto;
}
.technologies section:nth-child(2) figure img {
  width: 63px;
  height: 31px;
  object-fit: contain;
  object-position: center;
}

.work div:nth-child(1) {
  width: 850px;
}

.workContainer > figure {
  padding: 15px;
  width: 195px;
  background: #353f72a6;
  border-radius: 20px;
  display: flex;
  margin: 0 auto 11px;
  overflow: hidden;
}

 .technologies {
   display: flex;
   width: 124px;
   padding: 10px;
   border-radius: 10px;
   gap: 0;
 }

.insysticLogo {
  background: #fff !important;
  padding: 5px !important;
  width: 215px !important;
}

.webtechnology section figure img {
  width: 40px !important;
  aspect-ratio: 1 / 1 !important;
  object-fit: contain !important;
}

.webtechnology{
  display: flex;
  width: 124px;
  padding: 10px;
  border-radius: 10px;
  gap: 13px;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 1210px;
}
.skillSvg {
  width: 50px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  vertical-align: middle;
  display: flex;
  place-items: center;
  padding: 15px;
  background: #ffffff66;
  border-radius: 20px;
  backdrop-filter: drop-shadow(2px 4px 6px black);
  box-shadow: 6px 8px 20px -5px #0000008c;
  border: 1.5px solid #ffffff2e;
}

.title {
  width: 590px;
  text-align: left;
  position: absolute;
  top: -100px;
  left: 75px;
  font-size: 25px;
}
section#div2 section p {
  margin: 0;
  color: #ffffffad;
  font-size: 1rem;
}
section#div2 section i {
  color: #fff;
}
section#div2 section {
  width: 100%;
  margin: 5px auto 30px;
  max-width: 750px;
}

section#div3 section p {
  margin: 0;
  color: #ffffffad;
  font-size: 1rem;
}

section#div3 section i {
  color: #fff;
}

#div2 section {
  margin-bottom: 40px;
}

section#div3 section {
  width: 100%;
  margin: 5px auto 30px;
  max-width: 750px;
}
.contacts section {
  display: flex;
  gap: 15px;
  place-items: center;
  width: 212px;
}

.contacts section figure {
  width: 45px;
}

.contacts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.bgText {
  position: absolute;
  bottom: 0;
}
.bgText .anton {
  margin: 0;
  font-size: 360px;
  line-height: 0.86;
  z-index: 0;
  position: relative;
  color: #ffffff07;
  text-shadow: 5px 5px 5px #00000014;
}

.bgText .anton span {
  font-size: 570px;
}

/* 
#div3 .bgText .anton {
  font-size: 370px;
}

#div3 .bgText .anton span {
  font-size: 429px;
}

#div4 .bgText .anton {
  font-size: 520px;
}

#div4 .bgText .anton span {
  font-size: 740px;
}

#div5 .bgText .anton {
  font-size: 580px;
}

#div5 .bgText .anton span {
  font-size: 750px;
} */
.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.screen {
  height: 100%;
  position: relative;
  width: 100%;
}


.contain {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.head {
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding-bottom: 20px;
  font-weight: normal;
  color: #222;
  letter-spacing: 1px
}

.component {
  float: left;
  margin: 10px;
  position: relative;
}


.PC {
  height: 100px;
  width: 210px;
  border: 5px solid #b9b9b9;
  border-radius: 5px;
  position: relative;
}

.PC:before {
  content: '';
  width: 5px;
  height: 20px;
  border: 5px solid #b9b9b9;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  top: 100px;
  display: block;
  background: #b9b9b9;
}

.PC:after {
  content: '';
  width: 40px;
  height: 0px;
  border: 4px solid #b9b9b9;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  top: 95px;
  display: block;
  border-radius: 3px;
}

.PC .flare {
  width: 50px;
  height: 1px;
  background: #AAA;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.PC .flare:after,
.PC .flare:before {
  content: '';
  width: 30px;
  height: 1px;
  background: inherit;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, -50%);

}

.PC .flare:after {
  top: 6px;
}




.server {
  width: 70px;
  height: 130px;
  border: 5px solid #b9b9b9;
  border-radius: 5px;
  position: relative
}

.server .slot {
  display: block;
  background: #797979;
  width: 90%;
  height: 8%;
  margin: 10% 5%;
  position: relative;
  top: 55%;
  border-radius: 2px;
}

.slot2 {
  display: block;
  background: #797979;
  width: 90%;
  height: 4%;
  margin: 10% 5%;
  position: relative;
  top: 0;
  border-radius: 2px;
}

.server .button {
  width: 6px;
  height: 6px;
  background: #797979;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  right: 20%;
  bottom: 5%;
}

.server .button:last-of-type {
  height: 8px;
  width: 8px;
  right: 5%;
}


#load {
  width: 420px;
  height: 36px;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.component.signals {
  top: 40px;
}
#load div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 3s linear infinite;
  -o-animation: move 3s linear infinite;
  -moz-animation: move 3s linear infinite;
  -webkit-animation: move 3s linear infinite;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: #35C4F0;
}

#load div:nth-child(1) {
  animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

#load div:nth-child(2) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

#load div:nth-child(3) {
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
}

#load div:nth-child(4) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

#load div:nth-child(5) {
  animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}

#load div:nth-child(6) {
  animation-delay: 1.8s;
  -o-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  -webkit-animation-delay: 1.8s;
}
#load div:nth-child(7) {
  animation-delay: 2.1s;
  -o-animation-delay: 2.1s;
  -moz-animation-delay: 2.1s;
  -webkit-animation-delay: 2.1s;
}
#load div:nth-child(8) {
  animation-delay: 2.4s;
  -o-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s;
}
#load div:nth-child(9) {
  animation-delay: 2.7s;
  -o-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
  -webkit-animation-delay: 2.7s;
}

.circle {
  width: 10px;
  aspect-ratio: 1 / 1;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 30%;
  margin: 0 auto;
  transform-origin: 50%;
  animation: circle .5s alternate infinite ease;
}

@keyframes circle {
  0% {
    top: 50px;
    height: 5px;
    border-radius: 25px 25px 12.5px 12.5px;
    transform: scaleX(1.7);
  }

  40% {
    height: 10px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 25%;
  }
}

.circle:nth-child(2) {
  left: 0;
  animation-delay: .2s;
  right: 0;
  margin: 0 auto;
}

.circle:nth-child(3) {
  left: 65%;
  animation-delay: .3s;
}

.shadow {
  width: 10px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 52px;
  transform-origin: 50%;
  z-index: -1;
  left: 30%;
  filter: blur(1px);
  animation: shadow .5s alternate infinite ease;
}

@keyframes shadow {
  0% {
    transform: scaleX(1.6);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.5);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 0;
  right: 0;
  margin: 0 auto;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  left: 65%;
  animation-delay: .3s;
}

.PC span {
  position: absolute;
  top: 61px;
  font-size: 10px;
  letter-spacing: 5px;
  color: #fff;
  left: 10px;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

#div3 section {
  width: 100%;
  margin: 0 auto 30px;
  max-width: 870px;
}

#div2 p{
  margin: 0;
}

#div section{
      margin-bottom: 30px;
}

@keyframes move {
  0% {
    right: 0;
    opacity: 0;
  }

  35% {
    right: 41%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  65% {
    right: 59%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    right: 100%;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }

  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }

  35% {
    left: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  65% {
    left: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    left: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }

  35% {
    left: 41%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  65% {
    left: 59%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }

  100% {
    left: 100%;
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}


@-webkit-keyframes blink {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@media only screen and (max-width: 500px) {
  .contain {
    width: 100%;
    min-width: 100%
  }

  .component {
    display: block;
    float: left;
    clear: both;
    left: 50%;
    transform: translateX(-50%);
  }

  .signals {
    transform: translateX(-50%) rotate(90deg);
  }

  .server {
    width: 17%;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
    }

    100%{
    opacity: 0;
    }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes bganimation {
  0% {
    background-position:
      -100% -100%,
      200% 200%,
      -100% 200%,
      200% -100%;
  }

  50% {
    background-position:
      150% 100%,
      -200% 100%,
      100% 0%,
      0% 100%;
  }

  100% {
    background-position:
      -100% -100%,
      200% 200%,
      -100% 200%,
      200% -100%;
  }
}